#Shell comment snippets

snippet cfu "Bash function comment"
#===  FUNCTION  ================================================================
#          NAME:  ${VISUAL}
#   DESCRIPTION:  ${2}
#    PARAMETERS:	${3}
#       RETURNS:	${4}
#===============================================================================
$1${0}
endsnippet

