# Comment snippets


snippet rfh
////////////////////////////////////////////////////////////////////////////////
///
///		Copyright ©		`date +%Y` Rocket Gaming Systems
///
////////////////////////////////////////////////////////////////////////////////

${0}
endsnippet

snippet todo "C/C++ TODO comment"
	// TODO ${1:Stuff to do}
endsnippet

snippet fix "C/C++ FIXME comment"
	// FIXME ${1:Borked}
endsnippet

snippet funh "Function header comment" b
// @brief ${1: Brief Description}
//
endsnippet
