snippet cj "JSON jira for script"
{
	"project": "${1:VISTA}",
	"summary": "${2:summary}",
	"description": "${3:description}",
	"issuetype": "${4:Story}",
	"components": [{"name": "Software"}],
	"customfield_10008": "${5:epic}",
	"customfield_10600": {"value": "${6:Billable}"}
}$0
endsnippet
